@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(/fonts/roboto-regular.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(/fonts/roboto-bold.woff) format('woff');
}

body {
  background: #DCDCDC;
  font-family: 'Roboto', 'sans';
}

.title {
  background: url('/img/logo.png') no-repeat center;
  background-size: 250px 74px;
  height: 90px;
}